[Desktop Entry]
Name=Komorebi
Comment=An awesome wallpapers manager
Keywords=wallpaper;settings; preferences;
Icon=/usr/share/komorebi/Resources/Komorebi/komorebi.svg
Exec=/usr/share/komorebi/Applications/komorebi
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;GTK;System;
X-GNOME-Autostart-enabled=true